@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

body {
  padding-top: 90px;
  width: 100vw;
  background: $--white;
  overflow-x: hidden;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: $--gray;
  border: 2px solid $--dark-gray;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}