@import 'vars';

.menu-item {
    width: max-content;
    padding: 5px 15px;
    border-radius: 16px;
}

.menu-item span {
    width: max-content;
    color: $--green;
    font-size: $--menu_font_size;
    font-weight: 700;
    font-family: $--font_menu, 'Open Sans',Arial,sans-serif;
}

.menu-item.sectionVisible,
.menu-item:hover {
    background: $--green;
}

.menu-item.sectionVisible span,
.menu-item:hover span {
    color: $--white;
}

.menu-item.inactive {
    display: none;
}